.container-lang {
  position: relative;

  .select-lang {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 5px;
  }

  .background-login {
    background: #f4f4f4;

    .login {
      padding: 60px 40px 40px;
      width: 50%;
      margin: 0 auto;
      height: calc(100vh - 353px);
      display: flex;
      flex-direction: column;

      .button {
        margin-top: 40px;
      }

      .message {
        margin: 40px auto 0;
        height: 24px;
      }
    }
  }

}

@media only screen and (max-width: 700px) {
  .container-lang {

    .background-login {
      background: #f4f4f4;

      .login {
        width: 100%;
        margin: 0 auto;
        height: calc(100vh - 233px);

        .message {
          margin: 40px auto 0;
          height: 24px;
        }
      }
    }

  }
}
